.who-we-are-section {
   padding: 100px 0;
   background: #fff;
}
.who-we-are-container {
   max-width:1200px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80px;
   padding: 0 12px;
   flex-wrap: wrap;
}

.who-image img {
  width: 400px;
  height: auto;
  object-fit: cover;
}
.who-text-content {
  flex: 1;
  max-width: 500px;
}
.who-text-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.who-text-content h3 {
  font-size: 35px;
}
.underline-about {
  width: 60px;
  height: 4px;
  background-color:#f39c12;
  margin-bottom: 30px;
  margin-top: 20px;
}
.since-box {
  display: inline-block;
  color: #f39c12;
}

/* .since-box {
  display: inline-block;
  background: #f39c12;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
} */

.who-text-content p {
  font-size: 18px;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .who-we-are-container {
    gap: 50px;
  }

  .who-image img {
    width: 350px;
  }

  .who-text-content h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .who-we-are-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .who-image img {
    width: 300px;
  }

  .who-text-content {
    max-width: 90%;
  }

  .who-text-content h2 {
    font-size: 20px;
  }

  .who-text-content h3 {
    font-size: 26px;
  }

  .who-text-content p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .who-we-are-section {
    padding: 60px 2px;
  }

  .who-image img {
    width: 250px;
  }

  .who-text-content h3 {
    font-size: 22px;
  }

  .who-text-content p {
    font-size: 16px;
    line-height: 1.5;
  }

  .underline-about {
    width: 40px;
    height: 3px;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .underline-about {
    margin-left: auto;
    margin-right: auto;
  }
}

