.about-hero {
  height: 25vh;
  background: rgba(11, 208, 208, 0.7);
  align-items: center;
}

.about-hero-overlay {
  background: rgba(47, 66, 66, 0.8);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-hero-content {
   text-align: center;
   color: #fff;
   font-weight: 700;
}

.about-hero-overlay h1 {
  color: #fff;
  margin-top: 140px;
  font-size: 55px;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.about-hero-content .underline {
  width: 60px;
  height: 4px;
  background: #f39c12;
  margin: 16px auto;
}
.breadcrumb {
  margin: 20px;
  font-size: 22px;
}

.breadcrumb a {
  color: #f39c12;
  text-decoration: none;
  font-weight: 700;
}
.breadcrumbs-arrow {
  color: #f39c12;
}
