.topnav {
  background-color: #4168a3;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.topnav-left,
.topnav-right {
     display: flex;
     align-items: center;
     padding: 10px 200px;
     flex-wrap: wrap;
}
.topnav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color 0.3s ease;
}

.topnav-link:hover {
  color: #2f2e2c;
}

.icon1 {
  font-size: 22px;
}