.navbar {
  position: absolute;
  top: 20px; /* height of your Topbar */
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  /* padding: 20px 0; */
  color: #fff;
}
/* This wraps everything inside the navbar */
.nav-container5 {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 40px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo */
.nav-logo img {
  width: 100px;
  height: auto;
}

/* Nav links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 54px;
  font-size: 16px;
  font-weight: bold;
  /* margin: 0;
  padding: 0; */
}

.nav-links .nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* padding: 6px 10px; */
  transition: color 0.3s ease;

}


.nav-links .nav-link:hover {
  color: #f39c12;
}
/* Active link- auto applied by Navlink for home*/
.nav-link.active {
  color:#f39c12;
  font-weight: bold;
  border-bottom: 3px solid#f39c12;
}

/* Remove underline or border-bottom — it’s not needed */
.nav-link.active::after {
  content: none;
}

.donate-btn {
  background-color: #f39c12;
  color: #fff;
  padding: 12px 14px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.donate-btn:hover {
    background-color: #ded8d1;
    color: #222;
}

/* About page specific navbar styling */
.about-page-body .navbar {
  padding-top: 45px;
}

.program-page-body .navbar {
  padding-top: 45px;
}

.media-page-body .navbar {
  padding-top: 45px;
}
.domesticprogram-page-body .navbar {
    padding-top: 45px;
}

.pastprogram-page-body .navbar {
    padding-top: 45px;
}

.hospitalS-page-body .navbar {
    padding-top: 45px;
}

.feedingkids-page-body .navbar {
    padding-top: 45px;
}

.supportwidow-page-body .navbar {
  padding-top: 45px;
}